<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDR7ujJbWR6KTwNh3tksXU6ZfnVJNi4WII</string>
	<key>GCM_SENDER_ID</key>
	<string>700975403679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasispeechtotext.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aplikasiimk-d675c</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasiimk-d675c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700975403679:ios:5c15d824fdef7c69b448aa</string>
	<key>DATABASE_URL</key>
	<string>https://aplikasiimk-d675c-default-rtdb.firebaseio.com</string>
</dict>
</plist>